header
{
    background : transparent url("../images/logoFont.jpg") repeat-x 0 43px;
    width : 100%;
}

ul {
	list-style : none;
}

body {
	margin: 0px;
	background: rgb(231,231,231); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(231,231,231,1) 0%, rgba(231,231,231,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,231,231,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(231,231,231,1) 0%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(231,231,231,1) 0%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(231,231,231,1) 0%,rgba(231,231,231,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(231,231,231,1) 0%,rgba(231,231,231,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
}

/************************************************
*
*
*				HEADER
*
*
*************************************************/


#titre_logo
{
    display: inline-block; 
	position: relative;
	width: 160px;
	border: 0px solid black;
	vertical-align: top;
	padding-left: 5%;
}

#titre_principal
{
	margin-top : -155px;
	padding-bottom : 40px;
	padding-top: 40px;
	padding-left: 150px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	font: normal normal bold 40px/normal "wire-one", Helvetica, sans-serif;
	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: 0px 16px 3px #8F8F8F;
}

#titre_principal h1 {
	color: white;
	font-size: 39px;
	padding-left : 6%;
}


/***************************************************
*
*
*				DROP DOWN MENU
*
*
***************************************************/

.menu
{
    display: inline-block; 
    position: absolute;
    width: 200px;
    right: 60px;
    top: 5px;
    height : 30px;
	border: solid #a6a6a6 2px;
	border-radius: 6px;
	
	background: #66665e;
    background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
    background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
    background: linear-gradient(#66665e 0%, #45463d 100%);

}

.menu a {
	display : block;
	height : 30px;
	margin-top : -8px;
	margin-left : -10px;
	text-decoration: none;
}

.menu span {
	color : white;
}

.menu:hover .menuderoulant {
	display : block;
}

.menuderoulant {
	display : none;
	width : 200px;
	font-size : 15px;
	
}

.menuderoulant a {
	width : 168px;
	margin-left : -81px;
	padding-left : 30px;
	background-color : rgba(75,76,67,1);
	border-left: solid #a6a6a6 2px;
	border-right: solid #a6a6a6 2px;
	height : 24px;
}

.menuderoulant a:hover span {
	color: #A58EA2;
}

/*********************************
*
*
*
*			Vertical Menu
*
*
*
*********************************/

ul.form {
    position:relative;
    background:#fff;
    width:250px;
    margin:5px;
    padding:0;
    list-style: none;
    overflow:hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.1);   
}

.form li a {
    width:225px;
    padding-left:20px;
    height:50px;
    line-height:50px;
    display:block;
    overflow:hidden;
    position:relative;
    text-decoration:none;
    text-transform:uppercase;
    font-size:14px;
    color:#686868;    
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;         
}
 
.form li a:hover {
    background:#efefef;
}

.form li a.profile {
    border-left:5px solid #008747;
}

.form li a.messages {
        border-left:5px solid #fecf54;
}

.form li a.settings {
        border-left:5px solid #cf2130;
    }

.form li a.logout {
        border-left:5px solid #dde2d5;
    }  
    
.form li:first-child a:hover, .form li:first-child a {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.form li:last-child a:hover, .form li:last-child a {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.form i {
    margin-right:15px;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear; 
}

.form li a:hover i {
    color:#ea4f35;
}

/*********************************
*
*
*
*			CSS for FOOTER 
*
*
*
**********************************/

#pied-de-page {
	display : block;
	margin : 0;
	padding : 0;
	border : 0;
	font-size : 100%;
	font : inherit;
	vertical-align : baseline;
}

#font-noir {
	background : transparent url("../images/font_footer.png") repeat center 0;
	min-width: 960px;
}

#fond-noir-fade {
	background : transparent url("../images/font_fader.png") repeat-x center 0;
	min-width : 960px;
}

#pied-de-page div.largeur {
	color : #e4e4e4;
}

.largeur {
	width : 960px;
	margin : 0 auto;
}

#pied-de-page .colonne {
	background : transparent url("../images/font_ligne_verticale.png") no-repeat 0 0;
	padding : 0 26px;
	width : 908;
	position : relative;
}

#pied-de-page .a-propos {
	float : left;
	padding : 22px 20px 0 0;
	width : 202px;
}

#pied-de-page .carte {
	float : left;
	padding : 22px 0 0 21px;
	width : 182px;
}

#pied-de-page .coordonnees {
	float : left;
	padding : 22px 0 0 20px;
	width : 247px;
}

#pied-de-page .medias-sociaux {
	padding : 0 0 0 20px;
	width : 247px;
	float : left;
}

#pied-de-page .liens {
	position : absolute;
	top : 0;
	right : 26px;
	padding : 42px 0 0 19px;
	width : 195px;
}

.clearboth {
	clear : both;
	content : '.';
	font-size : 0px;
	line-height : 0px;
	height : 0px;
}

#pied-de-page div.copyright {
	position : relative;
	min-width : 960px;
}
	
#pied-de-page .colonne h3 {
	padding-bottom : 2px;
}

#pied-de-page h3 {
	font-size : 12px;
	text-transform : uppercase;
}

#pied-de-page p {
	margin-top : 0;
}

#pied-de-page .carte a {
	display : block;
	width : 182px;
	height : 228px;
	margin-top : 2px;
	overflow : hidden;
}

#pied-de-page .medias-sociaux ul {
	margin : 4px 0 0 0;
	height : 48px;
}

#pied-de-page .medias-sociaux ul li P{
	display : block;
	float : left;
	padding-right : 11px;
	height : 48px;
}

#pied-de-page .medias-sociaux ul li.facebook a {
	background-position : 0 0;
}

#pied-de-page .medias-sociaux ul li a {
	display : inline-block;
	width : 48px;
	height : 48px;
	background : transparent url("../images/sociaux.png") repeat 0 0;
	text-decoration : none;
}

#pied-de-page .medias-sociaux ul li a span {
	display : none;
}

#pied-de-page .liens > div.premier {
	background : none;
	position : relative;
	height : 70px;
	margin-top : 40%;
}

.deuxieme, .copyright{
	background : transparent url("../images/ligne_horizontale.png") repeat-x 0 0;
	padding : 20px 0 ;
}

#pied-de-page .liens .menu-personnel, #pied-de-page .liens .menu-omnivox{
	margin : 0 20px;
	width : 155px;
}

#pied-de-page .liens .menu-personnel a {
	display : block;
	font-size : 11px;
	font-weight : bold;
	text-transform : uppercase;
	color : #e4e4e4;
	padding : 4px 0 4px 60px;
	width : 95px;
	background : transparent url("../images/repertoire.png") no-repeat 0 center;
}

.menu-omnivox ul {
	border : 1px solid #bdbdbd;
	position : relative;
	-webkit-border-radius : 2px;
	-moz-border-radius : 2px;
	border-radius : 2px;
}

#pied-de-page .liens .menu-omnivox a {
	font-size : 20px;
	text-transform : uppercase;
	padding-top : 10px;
	padding-bottom : 8px;
	color : #4c4c4c;
	background : whitesmoke url("../images/bouton_gris.png") repeat-x center center;
}

.menu-omnivox ul li, .menu-personnel ul li{
	margin-left : -40px;
	width : 155px;
}

.menu-omnivox ul li a {
	display : block;
	border : 1px solid #fcfcfc;
	font-size : 11px;
	font-weight : bold;
	color : #444444;
	padding : 3px 6px;
	text-decoration : none;
}

#pied-de-page .liens .menu-omnivox a img {
	padding-left : 6px;
}

.menu-omnivox ul li a img {
	margin-left : 5px;
}

.dernier {
	margin-top : -10%;
}

.coordonnees a {
	color : #A58EA2;
}

.coordonnees a:hover {
	color : #D3CCC6; 
}


/*****************************************
*
*
*			MENU ON LEFT SIDE
*
*
*****************************************/




