header
{
    background : transparent url("../images/logoFont.jpg") repeat-x 0 43px;
    width : 100%;
}

header h1, em
{
    color: white;
	font-size: 40px;
}

ul {
	list-style : none;
}

#titre_logo
{
    display: inline-block; 
	position: relative;
	width: 160px;
	border: 0px solid black;
	vertical-align: top;
	padding-left: 0px;
}

#titre_principal
{
	margin-top : -155px;
	padding-bottom : 150px;
	padding-top: 40px;
	padding-left: 150px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	font: normal normal bold 40px/normal "wire-one", Helvetica, sans-serif;
	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: 0px 16px 3px #8F8F8F;
}
#titre_menu
{
    display: inline-block; 
    position: absolute;
    width: 200px;
    right: 60px;
    top: 5px;
    height : 30px;
	background-image: -webkit-linear-gradient(top, #ffffff, #8f8f8f);
	background-image: -moz-linear-gradient(top, #ffffff, #8f8f8f);
	background-image: -ms-linear-gradient(top, #ffffff, #8f8f8f);
	background-image: -o-linear-gradient(top, #ffffff, #8f8f8f);
	background-image: linear-gradient(to bottom, #ffffff, #8f8f8f);
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Georgia;
	color: #000e14;
	border: solid #a6a6a6 2px;
	border-radius: 6px;
}

#titre_menu:hover {
	background: #ffffff;
	  background-image: -webkit-linear-gradient(top, #ffffff, #b3b3b3);
	  background-image: -moz-linear-gradient(top, #ffffff, #b3b3b3);
	  background-image: -ms-linear-gradient(top, #ffffff, #b3b3b3);
	  background-image: -o-linear-gradient(top, #ffffff, #b3b3b3);
	  background-image: linear-gradient(to bottom, #ffffff, #b3b3b3);
	  text-decoration: none;
}

#titre_menu ul {
	margin-top : 0px;
}

#titre_menu ul li {
	list-style-type: none;
	color : blue;
	width : 200px;
	margin-left : -40px;
	height : 32px;
}

#titre_menu a {
	display : block;
	margin-top : 6px;
	margin-left : 25px;
	color : black;
	font-family: Georgia;
	text-decoration: none;
}

#titre_menu ul li ul li a:hover {
	color : #4183c4;
}

#titre_menu ul li ul {
    display : none;
    background-image: -webkit-linear-gradient(top, #ffffff, #8f8f8f);
	background-image: -moz-linear-gradient(top, #ffffff, #8f8f8f);
	background-image: -ms-linear-gradient(top, #ffffff, #8f8f8f);
	background-image: -o-linear-gradient(top, #ffffff, #8f8f8f);
	background-image: linear-gradient(to bottom, #ffffff, #8f8f8f);
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Georgia;
	color: #000e14;
	border: solid #a6a6a6 2px;
	border-radius: 6px;
    margin-top : 7px;
    margin-left : -1px;
}

#titre_menu ul li:hover ul {
	display : block;
	border: 1px solid darkgray;
	width : 160px;
}

#titre_menu ul li ul li:hover {
	background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #b3b3b3);
  background-image: -moz-linear-gradient(top, #ffffff, #b3b3b3);
  background-image: -ms-linear-gradient(top, #ffffff, #b3b3b3);
  background-image: -o-linear-gradient(top, #ffffff, #b3b3b3);
  background-image: linear-gradient(to bottom, #ffffff, #b3b3b3);
  text-decoration: none;
}

.menuderoulant li{
	margin-top : -6px;
}

.menuderoulant span{
	display : block;
	padding-top : 10px !important;
}

/*********************************
*
*
*
*			CSS for FOOTER
*
*
*
**********************************/

#pied-de-page {
	display : block;
	margin : 0;
	padding : 0;
	border : 0;
	font-size : 100%;
	font : inherit;
	vertical-align : baseline;
}

#font-noir {
	background : transparent url("../images/font_footer.png") repeat center 0;
	min-width: 960px;
}

#fond-noir-fade {
	background : transparent url("../images/font_fader.png") repeat-x center 0;
	min-width : 960px;
}

#pied-de-page div.largeur {
	color : #e4e4e4;
}

.largeur {
	width : 960px;
	margin : 0 auto;
}

#pied-de-page .colonne {
	background : transparent url("../images/font_ligne_verticale.png") no-repeat 0 0;
	padding : 0 26px;
	width : 908;
	position : relative;
}

#pied-de-page .a-propos {
	float : left;
	padding : 22px 20px 0 0;
	width : 202px;
}

#pied-de-page .carte {
	float : left;
	padding : 22px 0 0 21px;
	width : 182px;
}

#pied-de-page .coordonnees {
	float : left;
	padding : 22px 0 0 20px;
	width : 247px;
}

#pied-de-page .medias-sociaux {
	padding : 0 0 0 20px;
	width : 247px;
	float : left;
}

#pied-de-page .liens {
	position : absolute;
	top : 0;
	right : 26px;
	padding : 42px 0 0 19px;
	width : 195px;
}

.clearboth {
	clear : both;
	content : '.';
	font-size : 0px;
	line-height : 0px;
	height : 0px;
}

#pied-de-page div.copyright {
	position : relative;
	min-width : 960px;
}
	
#pied-de-page .colonne h3 {
	padding-bottom : 2px;
}

#pied-de-page h3 {
	font-size : 12px;
	text-transform : uppercase;
}

#pied-de-page p {
	margin-top : 0;
}

#pied-de-page .carte a {
	display : block;
	width : 182px;
	height : 228px;
	margin-top : 2px;
	overflow : hidden;
}

#pied-de-page .medias-sociaux ul {
	margin : 4px 0 0 0;
	height : 48px;
}

#pied-de-page .medias-sociaux ul li P{
	display : block;
	float : left;
	padding-right : 11px;
	height : 48px;
}

#pied-de-page .medias-sociaux ul li.facebook a {
	background-position : 0 0;
}

#pied-de-page .medias-sociaux ul li a {
	display : inline-block;
	width : 48px;
	height : 48px;
	background : transparent url("../images/sociaux.png") repeat 0 0;
	text-decoration : none;
}

#pied-de-page .medias-sociaux ul li a span {
	display : none;
}



