header
{
    background : transparent url("../images/logoFont.jpg") repeat-x 0 43px;
    width : 100%;
}

header h1, em
{
    color: white;
	font-size: 30px; /* Titres de 30 pixels */
	text-shadow: 2px 2px 4px white;
}
#titre_logo
{
    display: inline-block; /* logo */
	position: relative;
	width: 160px;
	border: 0px solid black;
	vertical-align: top;
	padding-left: 0px;
}
#titre_principal
{
    display: inline-block; /* technique de l'informatique */
	position: relative;
	width: 450px;
	border: 0px solid black;	
	vertical-align: top;
	padding-top: 40px;
	padding-left: 10px;
}
#titre_menu
{
    display: inline-block; /* menu */
	position: absolute;
	width: 150px;
	border: 0px solid black;
	vertical-align: top;
	right: 60px;
    top: 5px;
	z-index: 150;
}
